<a-scene id="plane-select-scene">
  <a-assets>
    <img id="cokeThumbnail" src="assets/img/coke-label.jpg">
  </a-assets>
  <a-entity id="dolly" position="0 0 35" wasd-controls>
    <a-camera near="0.1" user-height="0" position="0 0 0" id="camera"> </a-camera>
    <a-entity hand-controls="left" position="-0.1 -0.2 0" grab ></a-entity>
    <!-- <a-entity hand-controls="right" position="0.1 -0.2 0"></a-entity> -->
    <a-entity laser-controls="hand: right" position="0.1 -0.2 0"></a-entity>
  </a-entity>
  <a-plane color="#0CC" height="20" width="20" position="0 0 0"
    material="side: double"
  >
  </a-plane>
  <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
  <a-link href="link-select" title="link"
  image="#cokeThumbnail" position="-1 0 1"></a-link>

</a-scene>
